# # Environment variables declared in this file are automatically made available to Prisma.
# # See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# # Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# # See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# # DATABASE CREDS
POSTGRES_URL="postgresql://hamza:password@localhost:7779/postgres?schema=public"
DATABASE_NAME="postgres"
DATABASE_USERNAME="hamza"