.heart {
  transform: scale(0.9);
  position: absolute;
  width: 100px;
  height: 100px;
  background: url("https://res.cloudinary.com/dv2xxj5vi/image/upload/v1697994840/threads-images/ymopxnqgrcpwqmv7dt0d.webp")
    no-repeat;
  background-position: 0 0;
  cursor: pointer;
  transition: background-position 1s steps(28);
  transition-duration: 0s;

  &.is-active {
    transition-duration: 1s;
    background-position: -2800px 0;
  }

  &.filled {
    background-position: -2800px 0;
  }
}
